@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Open+Sans:ital,wght@1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;1,100&display=swap');
:root{
  --glass: rgba(255,255,255,0.54);
  --pink: #FF919D;
  --orange: #fca61f;
  --gray: #788097;
  --purple: linear-gradient(180deg,#BB67FF 0%,#C484F3 100%);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smothShadow: -79px 51px 60px rgba(0,0,0, 0.08);
  --activeItem: #f799a345;
}
body{
    margin: 0;
}
.app{
    background: linear-gradient(
        106.7deg,
        #ffe1bc 29.63%,
        #ffcfd1 51.55%,
        #f3c6f1 90.85%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}
.AppGlass{
    display: grid;
    height: 97%;
    width: 97%;
    border-radius: 2rem;
    background-color: var(--glass);
    overflow: hidden;
    grid-template-columns: 11rem auto 20rem;
}